body{
    background-color: rgb(232, 247, 100);
}

footer
{display: block;
    text-align: center;
margin: o auto;
color: green;}

div{
    text-align: center;}

h1{
    text-align: center;}

img{
    max-width: 400px;
    display: block;
    margin: 0 auto;
}
p{
    text-align: left;
}
#email-link{
    text-align: center;
}
